@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --bg-color: #201b2c;
    --primary-color: #77ffc0;
    --secondary-color: #00ff88;
    --text-color: #f0ffffde;
    --placeholder-color: #f0ffff94;
    --button-text-color: #2b134b;
    --button-bg-color: #00ff88;
    --button-shadow-color: #00ff8052;
    --textfield-bg-color: #514869;
    --textfield-shadow-color: #00000056;
    --card-bg-color: #2f2841;
    --card-shadow-color: #00000056;
    --link-color: #f0ffff94;
    --link-shadow-color: #f0ffff94;
    --link-hover-color: #77ffc0;
    --link-hover-shadow-color: #77ffc0;
    --roboto: "Roboto", sans-serif;
}

body {
    margin: 0;
    font-family: var(--roboto);
}
.main-login {
    width: 100vw;
    height: 100vh;
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-login>h1 {
    color: var(--primary-color);
}

.left-login-img {
    width: 35vw;
}

.right-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #2f2841;
    border-radius: 20px;
    box-shadow: 0px 10px 40px var(--card-shadow-color);
}

.card-login>h1 {
    color: var(--secondary-color);
    font-weight: 800;
    margin: 0;
}

.textfield {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.textfield>input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: var(--textfield-bg-color);
    color: var(--text-color);
    box-shadow: 0px 10px 40px var(--textfield-shadow-color);
    outline: none;
    box-sizing: border-box;
}

.textfield>label {
    color: var(--text-color);
    margin-bottom: 10px;
}

.textfield>input::placeholder {
    color: var(--placeholder-color);
}

.btn-login {
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: var(--button-text-color);
    background: var(--button-bg-color);
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px var(--button-shadow-color);
}

.btn-cadastro-login {
    text-align: center; 
    color: var(--link-color);
    cursor: pointer;
    outline: none;
    text-decoration: none;
    box-shadow: 0px 10px 40px -12px var(--link-shadow-color);
}

.btn-cadastro-login:hover {
    color: var(--link-hover-color);
    box-shadow: 0px 10px 40px -12px var(--link-hover-shadow-color);
}

/* ========== Estilos para a página de cadastro ========== */
.main-cadastro {
    /* width: 100vw;
    height: 100vh; */
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .left-cadastro {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} */

/* .left-cadastro>h1 {
    color: var(--primary-color);
}

.left-cadastro-img {
    width: 35vw;
}

.right-cadastro {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.card-cadastro {
    max-width: 800px; 
    width: 90%; 
    margin: 0 auto; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 60px 65px;
    background: var(--card-bg-color);
    border-radius: 20px;
    box-shadow: 0px 10px 40px var(--card-shadow-color);
}

.card-cadastro>h1 {
    color: var(--secondary-color);
    font-weight: 800;
    margin: 0;
}

.textfield-cadastro {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.textfield-cadastro>input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: var(--textfield-bg-color);
    color: var(--text-color);
    box-shadow: 0px 10px 40px var(--textfield-shadow-color);
    outline: none;
    box-sizing: border-box;
}

.textfield-cadastro>label {
    color: var(--text-color);
    margin-bottom: 10px;
}

.textfield-cadastro>input::placeholder {
    color: var(--placeholder-color);
}

.btn-cadastro {
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: var(--button-text-color);
    background: var(--button-bg-color);
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px var(--button-shadow-color);
}

.btn-limpar {
    display: block;
    text-align: center;
    margin-top: 15px;
    color: var(--link-color);
    cursor: pointer;
    outline: none;
    text-decoration: none;
    box-shadow: 0px 10px 40px -12px var(--link-shadow-color);
}

.btn-voltar {
    display: block;
    text-align: center;
    margin-top: 5px;
    color: var(--link-color);
    cursor: pointer;
    outline: none;
    text-decoration: none;
    box-shadow: 0px 10px 40px -12px var(--link-shadow-color);
}
