:root {
  --primary-color: #008000;
  --secondary-color: #f0f0f0;
  --tertiary-color: #e0e0e0;
  --montserrat: "Montserrat";
  --poppins: "Poppins";
}



body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-size: 1rem;
  text-align: center;
  font-family: var(--poppins);
  font-weight: 100px;
  overflow: overlay;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.login {
  background-color: var(--secondary-color);
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login > div {
  margin-bottom: 10px;
}

.login label {
  margin-bottom: 5px;
}

.login button {
  margin-top: 10px;
}

.cadastro {
  background-color: var(--tertiary-color);
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cadastro > div {
  margin-bottom: 10px;
}

.cadastro label {
  margin-bottom: 5px;
}

.cadastro input[type="text"],
.cadastro input[type="email"],
.cadastro input[type="password"],
.cadastro input[type="url"],
.cadastro select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.cadastro button {
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cadastro button[type="button"] {
  background-color: #333;
}

.cadastro button:hover {
  background-color: #005000;
}

.cadastro button[type="reset"]:hover {
  background-color: #999;
}
